.Item {
  padding: 1% 10px;
  margin: 10px 8px;
  text-align: center;
  background-color: white;
  transition: box-shadow 250ms ease;
  box-shadow: 1px 1px 3px 0 gray;
  border-radius: 2px;
  min-width: 200px;
  min-height: 150px;
} .Item:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .Item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  } .Item-content:hover .Item-content-price {
    transform: translateX(-8px);
  } .Item-content:hover .Item-content-face {
    box-shadow: inset 1px 1px 4px 1px gray;
  }
    .Item-content-time {
      font-size: 11px;
      text-align: right;
      border-bottom: 1px solid lightgray;
      margin-top: 4px;
      font-weight: bold;
    }
    .Item-content-face {
      padding: 12px 8px;
      box-shadow: inset 1px 1px 4px 0 gray;
      line-height: 1;
    }
    .Item-content-toCart {
      font-size: 17px;
      margin-bottom: 3px;
      text-align: right;
      border-top: 1px dashed #eaeaea;
      padding-top: 5px;
    }
      .Item-content-price,
      .Item-content-cart {
        display: inline-block;
        height: 18px;
        vertical-align: middle;
      } .Item-content-price {
        line-height: 1;
        margin-right: 8px;
        transition: transform 320ms ease;
      } .Item-content-cart {
        background-image: url('../assets/cart.png');
        width: 18px;
      }
